/*
серый (фон) #1f1f1f 
серый (фон) #f2f2f2
синий (ссылки, фигуры) #2f80ed
черный (текст) #000000
 */
 html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

 body, .page, .header, .content, .description, .digits, .feynman, .kaufman, .footer {
  margin: 0;
  padding: 0%;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*border: 2px green solid;*/
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-image: url(images/logo_place_header.svg);
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  flex-wrap: wrap;
}

.logo {
  height: 32px;
  width: 228px;
  /*border: 1px red solid;*/
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

/*.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  max-width: 730px; 
}*/

.header__title {
  max-width: 730px;
  justify-content: center;
  align-self: center;
  /*white-space: normal !important; /* Позволяет перенос строк 
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;*/
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  /*border: 1px red solid;*/
}

.header_subtitle {
  /*border: 1px red solid;*/
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header_subtitle_link {
  position: absolute;
  color: #2f80ed;
}

a {
  text-decoration: none;
}

.header__subtitle_link_active:hover {
  color: blue;
  font-weight: bold;
  
}

.header__subtitle_link_active:active {
  color: purple;
}

.header__main_illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  /*border: 1px red solid;*/
  z-index: 1;
}

.header__square_pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}

.content {
  border: 2px green solid;
  position: relative;
}

.description {
  /*border: 10px yellow solid;*/
  width: auto;
  height: 100%;
  flex-flow: row;
  position: relative;
}

.two_columns {
  /*border: 5px red  solid;*/
  width: 80%;
  min-width: 784px;
  min-height: min-content;
  margin: 100px 0 100px 0;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  position: relative;
  padding: 0;
}

.two_columns__brief {
  /*border: 1px blue dashed;*/
  max-width: 175px;
  min-width: min-content;
  max-height: 100%;
  padding: 0;
  margin: 0;
  /*flex-shrink: 0;*/
}

.two_columns__brief_title {
  height: max-content;
  color: #2f80ed;
  font-size: 18px;
  /*border: 1px blue solid;*/
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: normal;
}

.two_columns__main_text {
  /*border: 3px blue dashed;*/
  width: 80%;
  min-width: 784px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /*justify-content: space-between;
  margin: 0;
  padding: 0;*/
}

.two_columns__main_text_paragraph_first {
  /*border: 2px green solid;*/
  display: block;
  width: auto;
  max-width: 100%;
  max-height: min-content;
  margin: 0 0 0 0;
  flex-wrap: wrap;
}

.two_columns__main_text_paragraph_text {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /*border: 1px black solid;*/
}

.two_columns__main_text_paragraph_second {
  /*border: 2px green solid;*/
  display: block;
  width: auto;
  max-width: 100%;
  max-height: min-content;
}

.span_accent {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.two_columns__main_text_paragraph_third {
  /*border: 2px green solid;*/
  display: block;
  width: auto;
  max-width: 100%;
  max-height: min-content;
  padding: 0;
  margin: 0 0 0 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  border: 1px red solid;
  width: 100%;
  height: 100%;
  background-color: black;
}